<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>"Website"</title>
	</head>
	<body>
        <h1> We'll be right back</h1>
		<p>Site maintenance in progress. Please check back again later</p>

	</body>
</html>